.main-slider {
  height: 457px;
  width: 1351px;
  object-fit: cover;
}

.carousel-caption {
  margin-bottom: 150px;
  h1 {
    color: #ff4a52;
    font-family: "Nothing You Could Do", cursive !important;
    font-size: 45px !important;
    font-weight: bold;
  }
}

.countries {
  padding-top: 10px;
  margin-top: 40px;

  .align-center {
    left: 50% !important;
    top: 66% !important;
    bottom: 0 !important;
    transform: translate(-50%, -50%);
    p {
      font-family: "Nothing You Could Do", cursive !important;
      font-size: 45px !important;
    }
  }

  @media (min-width: 576px) {
    .container {
      max-width: 100%;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 100%;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 100%;
    }
  }
}
